@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root,
:root * {
    font-family: Montserrat;
}

.hd-rt a {
    font-family: unset;
}

.hd-lt {
    margin: unset;
}

.hd-bg {
    position: sticky;
    top: 0;
    padding: 1rem;
    width: unset;
}

.hd-lt .fav {
    height: unset;
    margin: unset;
}

.safa {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}